
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bgano.webp);
    background-size: contain;
}

.container {
    background-color: rgba(16, 151, 229, 0.8);;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    box-shadow: 0 5px 15px rgba(0, 8, 5, 0.8
    );
    text-align: center;
}

h1 {
    color: #f7f312;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    background-color: #f7f312;
    border: none;
    border-radius: 5px;
    color: #1a7206;
    font-weight: 800;
    outline: none;
}

button {
    width: 25%;
    padding: 10px;
    background-color: #eaa400;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700B3;
}

#weather-info {
    margin-top: 60px;
}

.hidden {
    display: none;
}

#error-message {
    color: #FF5722;
    margin-top: 20px;
}
